p {
	max-width: 70%;
}

h1{
	font-size: 200%;
}

h2 {
    background-color: lightgrey;
   	max-width: 500px;
}

.wrapper {
    width: 70%;
    margin: 2% 10%;
    background-color: white;
}

.image_full_width{
	max-width: 100%

}

#img_top{
	background-image: url("img_top.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
}

#img_bottom{
	background-image: url("img_bottom.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}


#name{
	font-size: 400%;	
	font-weight: 200%;
	text-align: center;
}

#disclaimer{
	color: grey;
	font-size: 70%;
}


