p {
	max-width: 70%;
}

h1{
	font-size: 200%;
  color:#15cfe8;
}


.wrapper {
    width: 70%;
    margin: 2% 10%;
    background-color: white;
}

.image_full_width{
	max-width: 100%
}

.collapsible {
  background-color: #888;
  color: white;
  cursor: pointer;
  padding: 0%;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 100%;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 2%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

#img_top{
	background-image: url("img_top.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}


#name{
	font-size: 400%;	
	font-weight: 200%;
	text-align: center;
}

#disclaimer{
	color: grey;
	font-size: 70%;


}


#page-container{
 position: relative;

 }

#img_bottom{
	position: absolute;
	background-image: url("img_bottom.jpg");
	background-size: 100%;
  	bottom: 1;
  	width: 100%;
  	
}